.product-list {
  padding: 0 !important;
}

.product-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 20px 10px;

  .product-name {
    color: blue;
    font-weight: bold;
  }

  .product-des {
    color: grey;
    font-size: 14px;
  }

  div {
    margin: 5px;

    button {
      border: none;
      background: lightblue;
      color: black;
      padding: 1em;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 500px) {
  .product-list {
    width: 300px;
  }
  .product-item {
    flex-direction: column;

    .product-des {
      display: none;
    }
  }
  .product-right{
    text-align: center;
  }
}
