.home-showcase{
  display: flex;
  justify-content:center;
  padding: 20px;
}
.showcase-container{
  width: 400px;
  background-color: #f0f0f0;
  text-align: center;
  margin: 50px;
  .showcase-img{
    width: 100%;
  }

  .showcase-img-caption{
    height: 100px;
    padding: 0 20px;
  }
  .showcase-btn{
    margin: 10px;
    padding: 0.5em 1em;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    &:hover{
      background: #2981de;
    }
  }
  h3, p{
    color: black;
  }
}

@media only screen and (max-width: 500px) {
  .home-showcase{
    flex-wrap: wrap;
  }
  .showcase-container{
    width: 300px;
    margin: 20px;
    .showcase-img-caption{
      height: auto;
      p{
        margin: 0;
      }
    }
  }
}
